.panel-footer{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top: 2px solid lightgray;
    padding: 10px;
    background-color: #EDE6E6;
 }
